<ion-view view-title="巡查">
<ion-nav-buttons side="right">
	<a class="button button-icon icon ion-compose"  href="#/tab/inspection_add"></a>
</ion-nav-buttons>

  <ion-content>	
	<ion-refresher
		pulling-text="下拉更新..."
		on-refresh="doRefresh()">
	  </ion-refresher>
    <ion-list>
      <ion-item class="item" ng-repeat="inspection in inspectionList" href="#/tab/inspection/{{inspection.sseq}}"> 
        
        <h2>{{inspection.note}}</h2>  
		<p><i class="icon ion-clock"></i> {{inspection.idate}}</p>		
      </ion-item>
    </ion-list>
	<ion-infinite-scroll
			on-infinite="loadMore()"
			distance="1%">
		  </ion-infinite-scroll>
  </ion-content>
  
</ion-view>